@font-face {
  font-family: Sunday;
  src: local("Sunday"),
  url(../texts/sunday.ttf);
}
body{
  background-image: url(../images/background.jpg);
  background-size: cover;
    font-family: Sunday;
}
.r{
  padding-left:1000px;
  padding-right:1000px;
}
a {
  color: #8B4513;
}
p { color: brown;}
