@font-face {
  font-family: Sunday;
  src: local("Sunday"),
  url(../texts/sunday.ttf);
}
body{
  background-image: url(../images/thumb-1920-1146376.jpg);
  background-size: cover;
  font-family: Sunday;
}
.b{
  padding-left:500px;
  padding-right:500px;
}
a {
  color: #1E90FF;
}
p { color: blue;}
